logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.sbtserver/master.log
.sbtserver/master.log
.sbtserver/previous.log
project/.sbtserver
.sbtserver/connections/master.log